html {
  font-size: 10px;
}

@font-face {
  font-family: "SCDream_light";
  src: url("../src/static/fonts/SCDream3.otf") format("opentype");
}

@font-face {
  font-family: "SCDream_normal";
  src: url("../src/static/fonts/SCDream4.otf") format("opentype");
}

@font-face {
  font-family: "SCDream_bold";
  src: url("../src/static/fonts/SCDream5.otf") format("opentype");
}

body {
  margin: 0;
  font-family: "SCDream_normal";
  /* font-family: "SCDream_normal" -apple-system, BlinkMacSystemFont,
    "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", helvetica,
    "나눔바른고딕 옛한글", "NanumBarunGothic YetHangul", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tooltip {
  display: flex;
  flex-direction: column;
  width: 90px;
}

.tooltip__date {
  display: flex;
  justify-content: center;
  color: #a9a9ab;
  font-size: 12px;
  padding: 3px 0px;
}

.tooltip__cases {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6b266a;
  color: #ffffff;
  padding: 2px 0px;
}

.tooltip__cases__title {
  font-size: 10px;
}

.tooltip__cases__value {
  font-size: 15px;
}

.apexcharts-tooltip {
  border: none !important;
  border-radius: 10px !important;
}
